@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

/*

--- TYPOGRAPHY SYSTEM

Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph Default: 1.6

- Letter spacing
-0.5px
0.75px
1px

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 140 / 200

--- COLORS:

- PRIMARY: #56b8b7
- SECONDARY: #f8f9fa, #373b3e, #212529
- GREYS: #495057, #f8f9fa, #f1f3f5, #dee2e6, #343a40

- Tints: #373b3e, #ffc9c9
- Shades: #f03e3e
- Accents:

--- SHADOWS

--- BORDER-RADIUS
Default: 9px

--- WHITESPACE

*/

html {
  background: var(--background);
  color: var(--foreground);
  transition: color var(--transition), background var(--transition);
}

@font-face {
  font-family: "Bouncy";
  src: url(./logo-font/BouncyThin.otf) format("opentype");
}

/***************************/
/* ROOT */
/***************************/

:root {
  --black: #212529;
  --white: #f8f9fa;
  --background: var(--white);
  --foreground: var(--black);
  --transition: 0.5s ease;
}

/***************************/
/* GENERAL REUSABLE COMPONENTS */
/***************************/

.container {
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 120rem;
}

.heading {
  font-size: 3rem;
  text-align: center;
}

.message-heading {
  color: #212529;
  font-size: 3rem;
  padding: 3.2rem;
}

.message-description {
  color: #212529;
  font-size: 2.4rem;
  padding: 3.2rem;
  line-height: 1.2;
}

.resend-button {
  display: block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #212529;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
  /* margin: 2.4rem auto; */
  margin: 2.4rem 3.2rem 0 3.2rem;
  z-index: 999;
}

.resend-error-message {
  font-size: 2rem;
  color: #c92a2a;
  padding: 1.6rem 3.2rem;
  font-weight: 700;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  .register-nav-item,
  .login-nav-item {
    display: none;
  }

  .burger-home-menu {
    display: block;
  }

  .logo {
    display: none;
  }
}

/***************************/
/* HEADER */
/***************************/

.header {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  position: relative;
  padding: 0 4.8rem;
  height: 3.2rem;
  margin-bottom: 4.8rem;
}

.title-logo {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  color: #212529;
  margin-top: 1.4rem;
  text-align: center;
  font-family: "Bouncy", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

/***************************/
/* NAVIGATION */
/***************************/

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 4.8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #56b8b7;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.header-nav {
  position: absolute;
  top: 1rem;
  right: 0;
}

.header-nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.header-nav-link:link,
.header-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #212529;
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.header-nav-link:hover,
.header-nav-link:active {
  color: #f8f9fa;
}

.burger-menu,
.burger-home-menu {
  display: none;
}

.show {
  display: block;
}

/* LIGHT AND DARK MODE TOGGLE */

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.toggle-wrapper {
  width: 11rem;
  display: block;
}

.toggle {
  height: 3rem;
  width: 9rem;
  border-radius: 4rem;
  padding: 1.2rem;
  position: relative;
  cursor: pointer;
  background: var(--background);
  transition: background var(--transition);
}

.toggle::before {
  content: "";
  display: block;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 3rem;
  position: absolute;
  top: 3px;
  z-index: 2;
  transform: translate(0);
  background: var(--foreground);
  transition: transform var(--transition), background var(--transition);
}

.toggle.enabled::before {
  transform: translateX(40px);
}

.toggle input {
  position: absolute;
  top: 0;
  opacity: 0;
}

.toggle .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 5px;
}

.bi-moon-fill {
  fill: var(--foreground);
  height: 1.6rem;
  width: 1.6rem;
  z-index: 0;
}

.bi-sun-fill {
  fill: #212529;
  height: 1.6rem;
  width: 1.6rem;
  z-index: 0;
}

/***************************/
/* REGISTRATION AND LOGIN */
/***************************/

.registration-section, .login-section {
  height: 80vh;
  margin-top: 8rem;
}

.registration-form, .login-form {
  margin: 4.8rem auto;
  width: 50%;
}

.email-input,
.password-input,
.username-input,
.profile-picture-input {
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background-color: #f8f9fa;
  appearance: none;
  width: 100%;
  position: relative;
  border-radius: 3px;
  padding: 0.9rem 1.2rem;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  font-weight: 400;
  height: 4rem;
  transition: all 0.2s ease;
}

.email-input:hover,
.password-input:hover,
.username-input:hover,
.profile-picture-input:hover {
  box-shadow: 0 0 0 0 #fff inset, #56b8b7 0 0 0 2px;
}

.email-input:focus,
.password-input:focus,
.username-input:focus,
.profile-picture-input:hover {
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, #56b8b7 0 0 0 3px;
}

.register-label, .login-label {
  /* padding: 1rem 1rem 2.4rem 1.6rem; */
  display: inline-block;
  font-size: 2rem;
  margin: 2rem auto;
}

.progress-bar {
  display: block;
  font-size: 2rem;
  margin: 1rem auto 0 auto;
}

.preview-image {
  vertical-align: middle;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border-width: 0.5rem;
  margin: 1rem auto 0 auto;
  /* border-color: #212529;
  border-style: outset; */
}

.file-error {
  color: #f03e3e;
  background-color: #ffc9c9;
  border: 2px solid #f03e3e;
  border-radius: 3px;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.forgot-password {
  color: #4da6a5;
  font-size: 1.6rem;
}

.sign-up, .sign-in {
  margin: 2rem auto;
  text-decoration: none;
  font-size: 1.6rem;
}

.register-link, .login-link {
  color: #4da6a5;
}

.submit-btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 1.2rem 2.4rem;
  border: 0;
  color: #212529;
  background: #56b8b7;
  line-height: 1.15;
  font-size: 1.6rem;
  margin: 1rem auto;
}

.submit-btn:hover {
  transition: all 0.1s ease;
  box-shadow: 0 0 0 0 #f8f9fa, 0 0 0 3px #56b8b7;
  color: #f8f9fa;
}

.error-message {
  font-size: 2rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/***************************/
/* EMAIL VERIFICATION */
/***************************/

.verification-message-section {
  height: 80vh;
  margin-top: 8rem;
}

.verification-message {
  margin: 2rem auto;
  max-width: 50%;
  min-height: 50%;
  background-color: #4da6a5;
  border-radius: 0.5rem;
}

.verify-login-link {
  color: #364fc7;
}

/***************************/
/* PASSWORD RESET */
/***************************/

.password-reset-section {
  height: 80vh;
  margin-top: 8rem;
}

.reset-message {
  margin: 2rem auto;
  max-width: 50%;
  min-height: 50%;
  background-color: #4da6a5;
  border-radius: 0.5rem;
}

.reset-email-input {
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background-color: #f8f9fa;
  appearance: none;
  width: 50%;
  position: relative;
  border-radius: 3px;
  padding: 0.9rem 1.2rem;
  margin: 1rem 3.2rem;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  font-weight: 400;
  height: 4rem;
  transition: all 0.2s ease;
}

.reset-email-input:hover {
  box-shadow: 0 0 0 0 #fff inset, #56b8b7 0 0 0 2px;
}

.reset-email-input:hover {
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, #56b8b7 0 0 0 3px;
}

/***************************/
/* SONG LIST */
/***************************/

.list-section {
  height: 100vh;
  margin-top: 8rem;
}

.choose-song-text {
  display: inline-block;
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
}

.song-list .song {
  font-size: 2rem;
  margin: 2rem;
  cursor: pointer;
  width: fit-content;
}

.song:hover {
  color: #56b8b7;
  text-decoration: underline;
}

.return {
  margin-top: 2rem;
}

.user {
  cursor: pointer;
  /* margin: 0 2.4rem; */
  position: relative;
}

.profile-image {
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-width: 0.5rem;
}

/***************************/
/* SONG LYRICS */
/***************************/

.song-title {
  font-size: 2rem;
}

.user-dropdown {
  position: absolute;
  top: 100%;
  left: -100%;
  /* display: none; */
  width: 9rem;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 1.6rem 2.4rem 0.2rem rgba(0, 0, 0, 0.14);
  background-color: #f8f9fa;
  margin: 0.2rem auto;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #212529;
  font-size: 1.2rem;
  font-weight: 700;
}

.dropdown-menu-option {
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}

.account-heading {
  cursor: default;
}

.song-lyrics {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.lyrics-page {
  white-space: pre-wrap;
  padding-bottom: 20rem;
}

/***************************/
/* MUSIC PLAYER */
/***************************/

.music-player {
  position: fixed;
  bottom: 0;
  text-align: center;
  z-index: 1;
  margin: auto;
  font-size: 1.6rem;
  font-weight: 500;
  white-space: pre-wrap;
}

.rhap_header {
  color: #212529;
}
